# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

SLACK_VERIFICATION_TOKEN=<SLACK_VERIFICATION_TOKEN>
SLACK_BOT_TOKEN=<SLACK_BOT_TOKEN>
SLACK_AUTH_TOKEN=<SLACK_OAUTH_TOKEN>
PORT=<PORT_TO_LISTEN_ON>
GOOGLE_API_CREDS=./google_sheets_creds.json
GSHEET_ID=<GSHEET_ID_FROM_URL>

# note: .env is a shell file so there can't be spaces around =