# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

SLACK_VERIFICATION_TOKEN=<SLACK_VERIFICATION_TOKEN>
SLACK_SIGNING_SECRET=<SLACK_SIGNING_SECRET>
SLACK_AUTH_TOKEN=<SLACK_OAUTH_TOKEN>
GOOGLE_CLIENT_EMAIL=<GOOGLE_CLIENT_EMAIL>
GOOGLE_PRIVATE_KEY=<GOOGLE_PRIVATE_KEY>
GSHEET_ID=<GSHEET_ID_FROM_URL>
PORT=<PORT_TO_LISTEN_ON>

# note: .env is a shell file so there can't be spaces around =